services:
  edgeone-ddns:
    image: edgeone-ddns
    container_name: nixingshiguang/edgeone-ddns
    volumes:
      - ddns-config:/app/config.json
      - ddns-logs:/app/logs
    environment:
      - PYTHONUNBUFFERED=1
      - TZ=Asia/Shanghai
    network_mode: host #需要解析ipv6的必须使用host模式
    healthcheck:
      test:
        - CMD
        - curl
        - -f
        - http://localhost:4646/api/status
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
volumes:
  ddns-config:
    driver: local
  ddns-logs:
    driver: local